<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.css" integrity="sha512-Oi2rb7RCg9JJzHCNFHsZgzlreLA/C4mNWCDMGHwhzVtPrQJey0zKnc9t8gwO5uzPJQNc9rC3zJksZb4/rKY+9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.jquery.js" integrity="sha512-n9m3t+dfIRV99HB8vKra0Rmx+kUXZnAvysMjXumL3i9Q3PqeruBE0enpZ84NE+tQNZaR+kv+djaBBLRcXvdkPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='js/image-viewer.js') }}"></script>
</head>
<body>
    <div id="book-header">
        {% include 'book-header.html' %}
    </div>
    <div id="book-image-div">
        <img id="book-main-image" class="book-image"
             src="https://raw.githubusercontent.com/Tyler-Yates/historical-objects-static/master/images/books/{{ book.id }}/cover.avif">
    </div>
    <div id="title" class="main-info-line">
        {{ book.title }}
    </div>
    <div id="author" class="main-info-line">
        {{ book.author }}
    </div>
    <div id="year" class="main-info-line">
        {{ book.year }}
    </div>
    <div id="info">
        <div class="description-section" id="size-section">
            <div id="size-title" class="section-name">
                Size:
            </div>
            <div id="size" class="section-value">
                {{ book.size }}
            </div>
        </div>
        <div class="description-section" id="oclc-section">
            <div id="oclc-title" class="section-name">
                OCLC:
            </div>
            <div id="oclc-number" class="section-value">
                <a href="https://www.worldcat.org/title/{{ book.oclc }}" target="_blank">{{ book.oclc }}</a>
            </div>
        </div>
    </div>
    <div id="description-container">
        <hr class="short-divider">
        <div class="description-section" id="history">
            {% if book.history %}
                {{ book.history|safe }}
            {% endif %}
        </div>
    </div>
    <div id="gallery" class="image-gallery">
        <h3>Additional Images</h3>
        {% for gallery_image in gallery %}
            <div class="gallery-cell">
                <a href="{{ gallery_image.hi_image_src }}">
                    <img class="gallery-image" src="{{ gallery_image.low_image_scr }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>