<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ medal.name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medal.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.css" integrity="sha512-Oi2rb7RCg9JJzHCNFHsZgzlreLA/C4mNWCDMGHwhzVtPrQJey0zKnc9t8gwO5uzPJQNc9rC3zJksZb4/rKY+9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.jquery.js" integrity="sha512-n9m3t+dfIRV99HB8vKra0Rmx+kUXZnAvysMjXumL3i9Q3PqeruBE0enpZ84NE+tQNZaR+kv+djaBBLRcXvdkPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='js/image-viewer.js') }}"></script>
</head>
<body>
    <div id="medal-header">
        {% include 'medal-header.html' %}
    </div>
    <div class="medal-images image-gallery">
        <a href="https://raw.githubusercontent.com/Tyler-Yates/historical-objects-static/master/images/medals/{{ medal.id }}/hi/{{ medal.id }}_obverse.avif">
            <img class="gallery-image" src="https://raw.githubusercontent.com/Tyler-Yates/historical-objects-static/master/images/medals/{{ medal.id }}/low/{{ medal.id }}_obverse.avif">
        </a>
        <a href="https://raw.githubusercontent.com/Tyler-Yates/historical-objects-static/master/images/medals/{{ medal.id }}/hi/{{ medal.id }}_reverse.avif">
            <img class="gallery-image" src="https://raw.githubusercontent.com/Tyler-Yates/historical-objects-static/master/images/medals/{{ medal.id }}/low/{{ medal.id }}_reverse.avif">
        </a>
    </div>
    <div class="medal-information">
        <h3 id="medal-name">{{ medal.name }}</h3>
        <div class="medal-description">
            <div class="medal-description-header">
                <div class="description-short-section">
                    <div class="side-name">
                        Engraver:
                    </div>
                    <div class="side-description" id="engraver">
                        {{ medal.engraver }}
                    </div>
                </div>
                <div class="description-short-section">
                    <div class="side-name">
                        Year:
                    </div>
                    <div class="side-description" id="year">
                        {{ medal.year }}
                    </div>
                </div>
                <div class="description-short-section">
                    <div class="side-name">
                        Country:
                    </div>
                    <div class="side-description" id="country">
                        {{ medal.country }}
                    </div>
                </div>
                <div class="description-short-section">
                    <div class="side-name">
                        Diameter:
                    </div>
                    <div class="side-description" id="diameter">
                        {{ medal.diameter }} mm
                    </div>
                </div>
                <div class="description-section" id="obverse">
                    <div class="side-name">
                        Obverse:
                    </div>
                    <div class="side-description" id="obverse-description">
                        {{ medal.obverse_description|safe }}
                        <br>
                        {% for inscription in medal.obverse_inscriptions %}
                            <div class="inscription">{{ inscription|safe }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="description-section" id="reverse">
                    <div class="side-name">
                        Reverse:
                    </div>
                    <div class="side-description" id="reverse-description">
                        {{ medal.reverse_description|safe }}
                        <br>
                        {% for inscription in medal.reverse_inscriptions %}
                            <div class="inscription">{{ inscription|safe }}</div>
                        {% endfor %}
                    </div>
                </div>

                {% if medal.references %}
                    <div class="description-section" id="ref">
                        <div class="side-name">
                            <a href="/references" target="_blank">References</a>:
                        </div>
                        <div class="side-description" id="references">
                            {% for reference in medal.references %}
                                <div class="side-description">{{ reference|safe }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>
            <hr class="short-divider">
            <div class="description-section" id="history">
                {{ medal.history|safe }}
            </div>
        </div>
    </div>
    {% if gallery %}
    <div id="gallery" class="image-gallery">
        <h3>Additional Images</h3>
        {% for gallery_image in gallery %}
            <div class="gallery-cell">
                <a href="{{ gallery_image.hi_image_src }}">
                    <img class="gallery-image" src="{{ gallery_image.low_image_scr }}">
                </a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>