<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Literature References</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/references.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="top-header">
        {% include 'top-header.html' %}
    </div>
    <h2>References</h2>
    <table>
        <tr>
            <td class="name">BHM</td>
            <td class="title"><i>British Historical Medals (3 volumes)</i> - Laurence Brown</td>
        </tr>
        <tr>
            <td class="name">Eimer</td>
            <td class="title"><i>British Commemorative Medals and their Values</i> - Christopher Eimer</td>
        </tr>
        <tr>
            <td class="name">Handlingar</td>
            <td class="title"><i>Kungl. Vitterhets, Historie och Antikvitets Akademiens Handlingar</i></td>
        </tr>
        <tr>
            <td class="name">Hauser</td>
            <td class="title"><i>Katalog Meiner Sammlung von Medaillen, Plaketten und Jetons</i> - Peter Hauser</td>
        </tr>
        <tr>
            <td class="name">Hennin</td>
            <td class="title"><a href="https://gallica.bnf.fr/ark:/12148/bpt6k840823w.image" target="_blank"><i>Histoire Numismatique De La Révolution Française</i></a> - Michel Hennin</td>
        </tr>
        <tr>
            <td class="name">Hildebrand</td>
            <td class="title"><i>Minnespenningar öfver enskilda Svenska Män och Quinnor</i> - Bror Emil Hildebrand</td>
        </tr>
        <tr>
            <td class="name">Julius</td>
            <td class="title"><a href="https://digi.ub.uni-heidelberg.de/diglit/helbing_nachf1932_01_11" target="_blank"><i>Auction Catalogue, Sammlung Dr. P. Julius</i></a> - Otto Helbing</td>
        </tr>
        <tr>
            <td class="name">Morel</td>
            <td class="title"><i>Medallic Commemoratives of New Zealand 1865-1940</i></td>
        </tr>
        <tr>
            <td class="name">Numismatiska</td>
            <td class="title"><i>Numismatiska Meddelanden (various volumes)</i></td>
        </tr>
        <tr>
            <td class="name">Olsen</td>
            <td class="title"><i>Lea Ahlborn En Svensk Medaljkonstnär under 1880-talet</i> - Brita Olsén</td>
        </tr>
        <tr>
            <td class="name">Wurzbach</td>
            <td class="title"><i>Katalog Meiner Sammlung von Medaillen, Plaketten und Jetons</i> - Wolfgang Wurzbach</td>
        </tr>
        <tr>
            <td class="name">Ulla</td>
            <td class="title"><i>Medaljgravören Erik Lindberg 1873-1966 (2 volumes)</i> - Ulla Ehrensvärd</td>
        </tr>
    </table>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>