.book-cell {
    width: 20%;
    margin: 20px;
    text-align: center;
    display: inline-block;
    font-family: "Arial", Courier, monospace;
    vertical-align: top;
}

.book-cell-image {
    max-width: 100%;
    max-height: 350px;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.title {
    font-style: italic;
    padding-bottom: 5px;
}

.author {
    padding-bottom: 5px;
}