.medal-images {
    text-align: center;
}

.medal-image {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    cursor: pointer;
}

.medal-information {
    margin: auto;
    text-align: center;
    width: 850px;
}

.medal-description {
    text-align: justify;
    line-height: 1.25;
}

.medal-description-header {
    margin-bottom: 10px;
}

.reference {
    margin-top: 5px;
    margin-bottom: 25px;
}

.reference-image {
    text-align: center;
}

.reference-name {
    text-align: right;
}

.description-section {
    overflow: auto;
    margin-top: 12px;
}

.description-short-section {
    overflow: auto;
    margin-top: 8px;
}

.description-section p {
    margin: 0;
    padding-bottom: 15px;
}

.side-name {
    float: left;
    font-style: italic;
    padding-right: 5px;
}

.side-description {
    float: left;
    width: 80%;
}

.individual-reference {
    padding-bottom: 10px;
}

.inscription {
    font-family: "Unifont";
    font-size: 16px;
    padding-top: 10px;
    word-wrap: break-word;
    text-justify: none;
}

#gallery {
    text-align: center;
    margin-top: 50px;
}

.gallery-cell {
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.gallery-image {
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
}
