<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</head>
<body>
    <div id="top-header">
        {% include 'top-header.html' %}
    </div>
    <div id="contact-info">
        <p>
            For inquiries, please reach out to the email address below.
        </p>
        Email: <span id="contact-email"></span>
    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>